<h1>Massacre aux montres</h1>
<p>Essaye de tuer le plus de monstres</p>
<form class = "grid" action = "/" method = "POST">
  <center></center>
  <label for = "Name">Entrez votre nom:</label>
  <input type="text" name="pseudo" placeholder="Pseudo" required>
 
  <button role="button" type="submit">
    <span>Validez</span>
  </button>
<body bgcolor="yellow"><body>
</form>

{% if pseudo %}
<p>Le monstre est vaincu !</p>
<p>{{ pseudo }} a vaincu {{ compteurtues }} monstre(s) !</p>
<p>Le(s) montre(s): {{ listevaincus }} ont été vaincus </p>
{% endif %}

